body {
  background-color: #f6f4f4;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
p {
    font-family: 'Roboto', sans-serif;
}
div.header {
    width: 100%;
    background: #333230;
}

.pageContent{
  margin-top:5%;

}

* {
  box-sizing: border-box;
}

.container{
  margin: auto;
  width: 1170px;
}

.column{
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.column:after {
  content: "";
  clear: both;
  display: block;
}


.container:after {
  content: "";
  clear: both;
  display: block;
}

.header:after {
  content: "";
  clear: both;
  display: block;
}
div.headerButton {
    float: left;
    margin-left: 25px;
}

a.headerButtonLink:link, a.headerButtonLink:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

form.headerForm {
  display: inline;
}
p.headerButtonText {
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
div.headerRight {
    float: right;
}
a.login-btn {
    float: left;
    cursor: pointer;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    margin-top: 12px;
    width: 175px;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 5px;
    background-color: #4287f5;
    color: #ecf0f1;
    transition: background-color .3s;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.login-btn:hover, .login-btn:focus {
    background-color: #3770cc;
}
.login-btn > * {
    position: relative;
}
.login-btn span {
    display: block;
    padding: 5px 10px;
}
p.headerRightText {
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 40px;
    margin-left: 30px;
}
